# Shark Attacks

Objetivos:

Identificar se fatalidades estão relacionadas a alguma espécie específica;

Identificar se ataques ocorrem em uma época específica e porque.

In [525]:
import os
import pandas as pd
import numpy as np

In [526]:
shark_data = pd.read_csv("attacks.csv")

## Dados originais

In [527]:
shark_data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [528]:
shark_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

## Retirada de colunas que não serão utilizadas e limpeza das restantes

In [529]:
shark_data.drop('Name', axis=1)
cshark_data = shark_data.drop(['Name', 'original order', 'Investigator or Source', 'pdf', 'href formula', 'Case Number.1','Case Number.2', 'Unnamed: 22', 'Unnamed: 23'], axis=1)

In [530]:
shark_columns = list(cshark_data.columns)
shark_clean_col = [col.lower().strip().replace(' ','_') for col in shark_columns]

In [531]:
cshark_data.columns = shark_clean_col
cshark_data.head(50)

,case_number,date,year,type,country,area,location,activity,sex,age,injury,fatal_(y/n),time,species,href
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,M,NaN,"No injury, board bitten",N,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,M,18,FATAL,Y,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'",http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,M,12,Minor injury to foot,N,14h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
11,2018.05.21,21-May-2018,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,M,10,Injuries to lower right leg and foot,N,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
12,2018.05.13.b,13-May-2018,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,M,10,Severe bite to right forearm,N,15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,M,21,Injured by teeth of a dead porbeagle shark he ...,N,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...
14,2018.05.00,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,F,34,Shallow lacerations to finger PROVOKED INCIDENT,N,NaN,"Tawny nurse shark, 2m",http://sharkattackfile.net/spreadsheets/pdf_di...
15,2018.05.12,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,M,NaN,"Minor injury, marks on board",N,11h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,M,NaN,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
17,2018.04.30.R,Reported 30-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,M,NaN,Minor injury to ankle,N,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
18,2018.04.28.b,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,M,30,"No injury, shark bit scuba gear",N,10h40,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
19,2018.04.28.a,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,M,NaN,"No injury, knocked off board by shark",N,16h50,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
20,2018.04.25.b,25-Apr-2018,2018.0,Questionable,AUSTRALIA,New South Wales,Lennox Head,Surfing,M,NaN,No injury,N,07h00,Questionable,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,25-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,M,60,"No injury, knocked off board by shark",N,09h30,3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
22,2018.04.24,24-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"South Point, Gracetown",Surfing,M,NaN,"No injury, shark struck his leg",N,Afternoon,"White shark, 3.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
23,2018.04.23,23-Apr-2018,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,M,32,5-inch cut to hand,N,21h50,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
24,2018.04.22,22-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,M,33,"No injury, shark bit hole in ski",N,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...
25,2018.04.19,19-Apr-2018,2018.0,Unprovoked,USA,Hawaii,"Shipwreck�s Beach, Keoneloa Bay, Kauai",Body boarding,M,29,Lacerations to right lower leg,N,NaN,6' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
26,2018.04.15.d,15-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,M,54,Lacerations to foot and ankle,N,NaN,Juvenile bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
27,2018.04.15.c,15-Apr-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Piedade,Swimming,M,34,"Multiple severe injuries to arms and leg, leg ...",NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
28,2018.04.15.b,15-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Lefthanders, Margaret River Area",Surfing,M,41,Laceration to right thigh,N,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
29,2018.04.15.a,15-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Cobblestones, Margaret River Area",Surfing,M,37,Lacerations to legs,N,08h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
30,2018.04.14,14-Apr-2018,2018.0,Unprovoked,BAHAMAS,New Providence,Nirvana Beach,Surfing,M,NaN,No Injury. Shark swam away with the surf board,N,09h30,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
31,2018.04.10.R,Reported 10-Apr-2018,2018.0,Invalid,BRAZIL,Alagoas,"Praia de Saua�uhy, Macei�",Fishing,M,56,Injury to ankle from marine animal trapped in ...,N,NaN,Shark involvement not confirmed,http://sharkattackfile.net/spreadsheets/pdf_di...
32,2018.04.09,09-Apr-2018,2018.0,Unprovoked,NEW CALEDONIA,NaN,"Magenta Beach, Noumea",Windsurfing,NaN,NaN,"No injury, shark bit board",N,17h00,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
33,2018.04.05,05-Apr-2018,2018.0,Unprovoked,BAHAMAS,NaN,Bimini,Swimming,M,12,"2 puncture wounds to left foot, abrasion to ri...",N,18h00,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
34,2018.04.03,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,M,19,Lacerations to left knee & lower leg,N,15h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,31-Mar-2018,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,M,25,Injuries to right leg & hand,N,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...
36,2018.03.14,14-Mar-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Waterman's Bay,Wading,M,10,Minor injuries to legs,N,17h35,Wobbegong shark,http://sharkattackfile.net/spreadsheets/pdf_di...
37,2018.03.09.b,9-Mar-2018,2018.0,Unprovoked,AUSTRALIA,Victoria,Lorne,Swimming,M,69,"No injury, said to have been charged by sharks...",N,15h30,3.5 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
38,2018.03.09.a,9-Mar-2018,2018.0,Unprovoked,AUSTRALIA,Victoria,Winkipop,Surfing,M,18,"Minor injury, ankle grazed",N,07h30,1.8 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
39,2018.02.24,24-Feb-2018,2018.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Scuba Diving,M,38,The shark & man simply collided; neither were...,N,NaN,Blacktip shark,http://sharkattackfile.net/spreadsheets/pdf_di...
40,2018.02.23,23-Feb-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,F,55,Laceratons to right leg & foot,N,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
41,2018.02.17,18-Feb-2018,2018.0,Provoked,AUSTRALIA,Victoria,Westernport Bay,Kayak fishing for sharks,M,34,"Shark rammed kayak, no injury to occupant PRO...",N,Night,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
42,2018.02.15,15-Feb-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Surf Beach, Kiama",Walking,M,35,Puncture wounds to leff foot & lower leg,N,16h00,"Bull shark, 2 m",http://sharkattackfile.net/spreadsheets/pdf_di...
43,2018.02.14,14-Feb-2018,2018.0,Invalid,AUSTRALIA,Queensland,Mooloolaba Beach,Swimming,F,NaN,"Collision / No injury, no attack",N,18h00,Possibly a wobbegong,http://sharkattackfile.net/spreadsheets/pdf_di...
44,2018.02.11,11-Feb-2018,2018.0,Invalid,BRAZIL,"Boi Island, Victoria",Espirito Santo,Cleaning fish,F,46,Lacerations to 4 toes of right foot,N,NaN,"Injury believed caused by an eel, not a shark",http://sharkattackfile.net/spreadsheets/pdf_di...
45,2018.02.03,03-Feb-2018,2018.0,Unprovoked,ECUADOR,Galapagos Islands,Santa Fe Island,Snorkeling,M,45,Injuries to right foot,N,NaN,Galapagos shark?,http://sharkattackfile.net/spreadsheets/pdf_di...
46,2018.02.01,01-Feb-2018,2018.0,Invalid,AUSTRALIA,Western Australia,"Avalon Point, Manurah",Spearfishing,M,14,"No injury no attack. This is considerd an ""enc...",N,NaN,2m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
47,2018.01.28,28-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Cone Bay,NaN,M,18,Injuries to right leg,N,08h00,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
48,2018.01.21,21-Jan-2018,2018.0,Unprovoked,NEW CALEDONIA,NaN,Nouville,Spearfishing,M,40s,Injuries to abdomen and arm,N,15h30,"Bull shark, 3 m",http://sharkattackfile.net/spreadsheets/pdf_di...
49,2018.01.14,14-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Queensland,Lizard Island,Diving,M,NaN,Severe laceration to left forearm,N,15h01,Grey reef shark. 2 m,http://sharkattackfile.net/spreadsheets/pdf_di...

In [532]:
cshark_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  8702 non-null   object
 1   date         6302 non-null   object
 2   year         6300 non-null   float64
 3   type         6298 non-null   object
 4   country      6252 non-null   object
 5   area         5847 non-null   object
 6   location     5762 non-null   object
 7   activity     5758 non-null   object
 8   sex          5737 non-null   object
 9   age          3471 non-null   object
 10  injury       6274 non-null   object
 11  fatal_(y/n)  5763 non-null   object
 12  time         2948 non-null   object
 13  species      3464 non-null   object
 14  href         6302 non-null   object
dtypes: float64(1), object(14)
memory usage: 2.9+ MB

## Primeira análise dos dados

In [533]:
cshark_data.describe()

              year
count  6300.000000
mean   1927.272381
std     281.116308
min       0.000000
25%    1942.000000
50%    1977.000000
75%    2005.000000
max    2018.000000

In [534]:
#A a maior parte nos estados unidos, surfando, homens, 17 anos, perto de 2015,
#verificar injury pois não está coerente, a tarde, tubarões brancos.

## Identificação dos dados unicos de cada coluna e verificar o que precisa ser limpo

In [535]:
cshark_data['type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [536]:
cshark_data['type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [537]:
cshark_data['country'].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [538]:
cshark_data['country'].value_counts()

USA                             2229
AUSTRALIA                       1338
SOUTH AFRICA                     579
PAPUA NEW GUINEA                 134
NEW ZEALAND                      128
                                ...
GREENLAND                          1
EQUATORIAL GUINEA / CAMEROON       1
RED SEA?                           1
MID-PACIFC OCEAN                   1
WESTERN SAMOA                      1
Name: country, Length: 212, dtype: int64

In [539]:
cshark_data['age'].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '� ', ' ', '30 or 36', '6�', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2�', '13 or 14'], dtype=object)

In [540]:
cshark_data['age'].value_counts()

17          154
18          150
19          142
20          141
15          139
           ...
46 & 34       1
20            1
16 to 18      1
25 to 35      1
28 & 26       1
Name: age, Length: 157, dtype: int64

In [541]:
cshark_data['activity'].unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [542]:
cshark_data['activity'].value_counts()

Surfing                                                                                                                                                                                               971
Swimming                                                                                                                                                                                              869
Fishing                                                                                                                                                                                               431
Spearfishing                                                                                                                                                                                          333
Bathing                                                                                                                                                                                               162
                                                                                                                                                                                                     ...
Spearfishing, shark grabbed his white t-shirt and towed him                                                                                                                                             1
Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net                                                                                  1
On 6-Nov-1942, the German submarine U-68 sank the City of Cairo 5 days from Cape Town, survivors took to lifeboats & rafts. On the 15th day, a fireman jumped over the stern & was taken by sharks      1
Playing in the surf with his 2 dogs                                                                                                                                                                     1
Touching the mouth of a supposedly dead shark                                                                                                                                                           1
Name: activity, Length: 1532, dtype: int64

In [543]:
cshark_data['species'].unique()

array(['White shark', nan, '2 m shark', ..., "12' tiger shark",
       'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)

In [544]:
cshark_data['species'].value_counts()

White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        88
Tiger shark                                            73
                                                     ...
5' to 8' shark                                          1
3.3 m [10'9"] shark                                     1
Blacktip reef shark pup                                 1
White shark, 12' to 15'                                 1
Nurse shark, 1.1 m [3.5']                               1
Name: species, Length: 1549, dtype: int64

In [545]:
cshark_data['year'].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [546]:
cshark_data['year'].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1785.0      1
1580.0      1
1742.0      1
1818.0      1
1786.0      1
Name: year, Length: 249, dtype: int64

# Limpeza da tabela

Há muitas linhas sem valor nenhum. Retirar as linhas com muitos NaN

In [547]:
cshark_data.tail(100)

,case_number,date,year,type,country,area,location,activity,sex,age,injury,fatal_(y/n),time,species,href
25623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [548]:
cshark = cshark_data.dropna(thresh = 0.1*len(cshark_data.columns), axis=0)

## Limpeza das datas

Limpar as datas para aplicação de .to_datetime

In [549]:
import re

In [550]:
 re.findall('\d{2}-\D{3}-\d+', "Before 13-jun-1998") #Teste de Regex

['13-jun-1998']

In [551]:
def change_date(name):
    date1 = re.findall('\d{2}-\D{3}-\d+', name)
    if len(date1)>0:
        return date1[0]

In [552]:
cshark['date'] = cshark['date'].apply(change_date)

<ipython-input-552-803a69df7c4a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cshark['date'] = cshark['date'].apply(change_date)

In [582]:
cshark['date'] = pd.to_datetime(cshark['date'])

In [583]:
cshark.info() #Verificação do formato da coluna Date

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6300 entries, 0 to 6301
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         5348 non-null   datetime64[ns]
 1   year         6298 non-null   object
 2   type         6296 non-null   object
 3   country      6250 non-null   object
 4   area         5846 non-null   object
 5   location     5761 non-null   object
 6   activity     5756 non-null   object
 7   injury       6272 non-null   object
 8   fatal_(y/n)  5761 non-null   object
 9   time         2947 non-null   object
 10  species      3463 non-null   object
dtypes: datetime64[ns](1), object(10)
memory usage: 719.7+ KB

In [554]:
cshark['date'][4600:4650]

4600    19-Apr-1946
4601           None
4602    20-Mar-1946
4603    16-Feb-1946
4604    10-Feb-1946
4605    10-Feb-1946
4606    24-Jan-1946
4607    24-Jan-1946
4608    17-Jan-1946
4609    07-Jan-1946
4610    05-Jan-1946
4611    01-Jan-1946
4612           None
4613           None
4614           None
4615    23-Sep-1945
4616    19-Sep-1945
4617    16-Sep-1945
4618    06-Sep-1945
4619    19-Aug-1945
4620    06-Aug-1945
4621    30-Jul-1945
4622           None
4623    15-Jun-1945
4624    08-May-1945
4625    06-Mar-1945
4626    05-Feb-1945
4627           None
4628           None
4629           None
4630           None
4631           None
4632    02-Dec-1944
4633    08-Nov-1944
4634    01-Nov-1944
4635    26-Oct-1944
4636    26-Oct-1944
4637    25-Oct-1944
4638    25-Oct-1944
4639    24-Oct-1944
4640    23-Oct-1944
4641    03-Sep-1944
4642           None
4643    20-Aug-1944
4644     22-Jul-144
4645    23-Jun-1944
4646    31-May-1944
4647    24-May-1944
4648    04-May-1944
4649           None
Name: date, dtype: object

In [581]:
cshark=cshark.drop(index=[4644])

KeyError: '[4644] not found in axis'

In [580]:
cshark=cshark.drop(index=[6170])

## Limpeza das espécies

In [556]:
cshark['species'].value_counts().head(50)

White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        88
Tiger shark                                            73
Shark involvement prior to death unconfirmed           68
Bull shark                                             52
4' shark                                               40
6' shark                                               40
1.8 m [6'] shark                                       35
Questionable incident                                  35
Questionable                                           34
1.5 m [5'] shark                                       32
1.2 m [4'] shark                                       27
5' shark                                               26
3' shark                                               26
2 m shark                                              25
4' to 5' shark                                         24
3 m [10'] shark                                        22
No shark involvement                                   21
Wobbegong shark                                        21
3' to 4' shark                                         18
3 m shark                                              17
2.4 m [8'] shark                                       16
Blacktip shark                                         15
3.7 m [12'] shark                                      15
12' shark                                              15
1.2 m to 1.5 m [4' to 5'] shark                        14
Blue shark                                             14
Shark involvement prior to death not confirmed         13
Mako shark                                             13
7' shark                                               13
"a small shark"                                        13
1.5 m shark                                            13
10' shark                                              12
Bronze whaler shark                                    12
6 m [20'] white shark                                  12
Nurse shark                                            12
5 m [16.5'] white shark                                12
Raggedtooth shark                                      12
Grey nurse shark                                       11
Zambesi shark                                          11
4 m [13'] white shark                                  10
1 m shark                                               9
a small shark                                           9
White shark, 4 m [13']                                  9
Hammerhead shark                                        9
2.1 m [7'] shark                                        9
2' to 3' shark                                          8
3 m [10'] white shark                                   8
Name: species, dtype: int64

In [557]:
cshark[cshark['species']=="Invalid"].head(30)

,case_number,date,year,type,country,area,location,activity,sex,age,injury,fatal_(y/n),time,species,href
226,2016.09.00,None,2016.0,Invalid,MEXICO,NaN,Guadalupe Island,Cage Diving,NaN,NaN,"No injury to divers, white shark breached cage",NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
578,2014.03.13,13-Mar-2014,2014.0,Invalid,CAYMAN ISLANDS,NaN,NaN,Scuba diving / culling lionfish,M,NaN,"Caribbean reef shark buzzed him. No injury, no...",NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
676,2013.05.08.b,08-May-2013,2013.0,Invalid,USA,California,"Tourmaline Surf Park, San Diego County",Surfing,M,42,Shark bites were post-mortem,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
926,2011.05.07.R,07-May-2011,2011.0,Invalid,UNITED ARAB EMIRATES (UAE),Umm al Qaywayan Province,Khor Fakkan,Fishing,M,43,Erroneously reported on several internet sites...,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1044,2010.02.04,04-Feb-2010,2010.0,Invalid,GUAM,Merizo,Achang Reef,Spearfishing (free diving),M,31,Shark bites were post-mortem,NaN,11h00,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1093,2009.09.02,02-Sep-2009,2009.0,Invalid,NEVIS,NaN,Castle Beach,Swimming,M,NaN,Death was due to drowning. Two days later his ...,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1167,2009.01.23,23-Jan-2009,2009.0,Invalid,BRAZIL,Maranh�o,Olho d'�gua,Swimming,M,17,"Drowned, body scavenged by shark",NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1301,2007.12.19,19-Dec-2007,2007.0,Invalid,BRITISH VIRGIN ISLANDS,Green Bay,NaN,Scuba diving,M,53,Shark bites were post-mortem,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1314,2007.11.00,None,2007.0,Invalid,MEXICO,Baja California,Guadalupe Island,Shark diving,M,NaN,White shark breached cage. No injury to occupants,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1427,2006.09.30,30-Sep-2006,2006.0,Invalid,SOUTH AFRICA,Western Cape Province,Miller's Point,Spearfishing,M,36,No injury; 4m white shark made a threat display,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1485,2006.04.23.R,23-Apr-2006,2006.0,Invalid,USA,Florida,"Alligator Reef off Islamorada, Monroe County",NaN,M,NaN,Shark bites post mortem,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1499,2006.02.23,23-Feb-2006,2006.0,Invalid,USA,Hawaii,"Makena, Maui",Free diving,M,45,Forensic examination suggested diver drowned &...,NaN,Late afternoon,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1511,2006.01.11,11-Jan-2006,2006.0,Invalid,BAHAMAS,Grand Bahama Island,Sandy Cay,Diving for lobsters,M,NaN,"No injury, divers felt threatened by 10' pregn...",NaN,Morning,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1563,2005.08.01,None,2005.0,Invalid,Seychelles,Inner Islands,Off North Island,Fishing,M,NaN,"FATAL, shark involvement prior to death is unc...",NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1577,2005.06.18,18-Jun-2005,2005.0,Invalid,USA,Hawaii,Maui,Swimming,M,49,"No injury, 2.1m [7'] tiger shark approached sw...",NaN,08h00,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1606,2005.03.10,10-Mar-2005,2005.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Isipingo,NaN,M,51,Bites by 2.5 m tiger shark were post mortem,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1628,2004.10.30.x,30-Oct-2004,2004.0,Invalid,NEW ZEALAND,North Island,Whangarei,NaN,NaN,NaN,No injury,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1661,2004.06.26.a,26-Jun-2004,2004.0,Invalid,AUSTRALIA,Western Australia,Floreat Beach,Crayfishing,M,NaN,"No injury, shark made threat displays & diver ...",NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1707,2004.01.03.b,03-Jan-2004,2004.0,Invalid,NEW ZEALAND,North Island,"Whiritoa, Eastern Cormandel",Kayaking (returning from spearfishing),M,NaN,"No injury, no attack, shark took fish from bac...",NaN,Afternoon,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1866,2002.04.21,21-Apr-2002,2002.0,Invalid,AUSTRALIA,New South Wales,26 nautical miles out to sea off Lake Macquarie,Fishing (Drowned 2-Apr-2002),M,52,"Drowned, his remains were found in a 3m [10'],...",NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
1991,2000.11.10,10-Nov-2000,2000.0,Invalid,USA,Florida,"Vaughn Beach, Flagler County",Walking,F,27,No injury,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
2168,1998.08.27,27-Aug-1998,1998.0,Invalid,ITALY,Marches region,12 miles off Senigallia (Adriatic Sea),Fishing,NaN,NaN,"No injury; no attack, shark ate the bait hangi...",NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
2358,1995.08.13.a,13-Aug-1995,1995.0,Invalid,USA,North Carolina,"Emerald Isle, Carteret County",Swimming,M,15,Death resulted fom drowning; tiger shark bites...,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
2362,1995.08.01,01-Aug-1995,1995.0,Invalid,TONGA,Vava�u,Neiafu,Fishing,M,NaN,Finger broken when 1.8 m [6'] hooked grey reef...,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
2363,1995.08.00,None,1995.0,Invalid,USA,California,"Carmel, Monterey County",Diving,M,NaN,Torso bitten by 4 m [13'] white shark,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
2390,1995.04.16,16-Apr-1995,1995.0,Invalid,USA,Florida,"New Smyrna Beach, Volusia County",NaN,M,12,"Dorsum of right hand bitten, a probable bluefi...",NaN,10h35,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
2403,1995.00.00.c,None,1995.0,Invalid,USA,North Carolina,Carolina Beach,Scuba diving,M,NaN,Death resulted fom drowning; shark bites were ...,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
2410,1994.12.09.b,09-Dec-1994,1994.0,Invalid,AUSTRALIA,Queensland,"Hinchinbrook Channel, Queensland",Murder victim,M,44,Shark scavenged on his corpse,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
2439,1994.04.16,16-Apr-1994,1994.0,Invalid,USA,California,"Sunset Cliffs, San Diego, San Diego County",NaN,F,25,Not a shark attack; possibly murder. Body reco...,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...
2499,1993.04.00,None,1993.0,Invalid,AUSTRALIA,Tasmania,Barren Joey Island,Spearfishing,M,32,No injury,NaN,NaN,Invalid,http://sharkattackfile.net/spreadsheets/pdf_di...

In [250]:
re.sub('.* ?[Ww]hite [Ss]hark.*', 'WhiteShark','a huge white shark said hello and invited the man to dinner.')

'WhiteShark'

In [273]:
re.sub('.* [Ss]hark.*', 'puppy','WhiteShark ')

'WhiteShark '

In [271]:
re.sub('.* ?[Ss]hark.*', 'puppy','White Shark ')

'puppy'

In [558]:
shark_dict1 = {'.* ?[Qq]uestionable ?.*': 'Invalid',
               '.* ?[Nn]ot [Cc]onfirmed ?.*': 'Invalid',
               '.* ?[Ww]hite [Ss]hark ?.*': 'WhiteShark', 
               '.* ?[Bb]ull [Ss]hark ?.*': 'BullShark', 
               '.* ?[Tt]iger [Ss]hark ?.*': 'TigerShark', 
               '.* ?[Nn]urse [Ss]hark ?.*': 'NurseShark',
               '.* ?[Nn]o [Ss]hark ?.*': 'Invalid',
               '.* ?[Hh]ammerhead [Ss]hark ?.*': 'HammerheadShark',
               '.* ?[Bb]ronze ?[Ww]haler [Ss]hark ?.*': 'BronzewhalerShark',
               '.* ?[Ww]haler [Ss]hark ?.*': 'WhalerShark',
               '.* ?[Ww]obbegong[ s][,]?  [Ss]hark ?.*': 'WobbegongShark',
               '.* ?[Ww]obbegong[,]? ?.*': 'WobbegongShark',
               '.* ?[Bb]lacktip [Ss]hark ?.*': 'BlacktipShark',
               '.* ?[Ll]emon [Ss]hark ?.*': 'LemonShark',
               '.* ?[Bb]lue [Ss]hark ?.*': 'BlueShark',
               '.* ?[Ww]hitetip [Ss]hark ?.*': 'WhitetipShark',
               '.* ?[Gg]r[ae]y [Rr]eef [Ss]hark ?.*': 'GreyreefShark',
               '.* ?[Bb]lue [Pp]ointers ?.*': 'BluePointers'}

In [559]:
def change_spec1(name,shark_dict1,key):
    if isinstance(name,str):
        return re.sub(key, shark_dict1[key], name)
    else:
        return None

In [561]:
for key in shark_dict1.keys():
    cshark['species'] = cshark['species'].apply(change_spec1, shark_dict1=shark_dict1, key=key)

In [562]:
shark_dict2 = {'.* [Ss]hark ?.*': 'UnknownShark',
               '.* [Dd]rowining ?.*': 'Invalid',
               '.* [Uu]nconfirmed ?.*': 'Invalid',
               '.* [Tt]o [Bb]e [Cc]onfirmed ?.*': 'Invalid',
               '.* ?\d+ m .*': 'UnknownShark',
               ".* ?\d+ cm .*": 'UnknownShark',
               '.* ?[Ii]nvalid ?.*': 'Invalid'}

In [563]:
def change_unknown(name,shark_dict2,key):
    if isinstance(name,str):
        return re.sub(key, shark_dict2[key], name)
    else:
        return None

In [564]:
for key in shark_dict2.keys():
    cshark['species'] = cshark['species'].apply(change_unknown, shark_dict2=shark_dict2, key=key)

In [565]:
cshark['species'].value_counts()

UnknownShark                                                                                                                                                     1359
WhiteShark                                                                                                                                                        632
Invalid                                                                                                                                                           506
TigerShark                                                                                                                                                        281
BullShark                                                                                                                                                         180
NurseShark                                                                                                                                                         96
BlacktipShark                                                                                                                                                      64
BronzewhalerShark                                                                                                                                                  60
WobbegongShark                                                                                                                                                     50
HammerheadShark                                                                                                                                                    44
BlueShark                                                                                                                                                          40
LemonShark                                                                                                                                                         35
WhitetipShark                                                                                                                                                      23
GreyreefShark                                                                                                                                                      18
Unidentified species                                                                                                                                                8
                                                                                                                                                                    6
WhalerShark                                                                                                                                                         6
Unidentified                                                                                                                                                        3
Blue pointer                                                                                                                                                        3
Shark involvement not cofirmed                                                                                                                                      2
Shark involvement doubtful                                                                                                                                          2
Bronze whaler                                                                                                                                                       2
�                                                                                                                                                                   2
Shark involvement probable                                                                                                                                          2
Possibly C. leucas                                                                                                                                                  2
Tooth fragments recovered from hull                                                                                                                                 1
Remains recovered 5 days later                                                                                                                                      1
Hammerhead sp.                                                                                                                                                      1
Shark involvement prior to death unconfired                                                                                                                         1
Blue pointer, 11'                                                                                                                                                   1
Not authenticated                                                                                                                                                   1
Identified as C. gangeticus by Dr. J. Fayrer                                                                                                                        1
Considered a "Doubtful" incident                                                                                                                                    1
Death may have been due to drowning                                                                                                                                 1
Porbeagle, 1.5 m                                                                                                                                                    1
"Blue whaler" (Galeolamna)                                                                                                                                          1
Shovelnose guitarfish, adult male                                                                                                                                   1
Shark involvement prior to death still to be determined                                                                                                             1
"Shark had a very large girth"                                                                                                                                      1
C. maculpinnis or C. limbatus                                                                                                                                       1
[4' to 5']                                                                                                                                                          1
Shark involvement prior to death could not be determined                                                                                                            1
"The fish was harpooned, dried, and presented to the sailor, who went round Europe exhibiting it  It was said to be 20 feet long.                                   1
C. macrurus captured 48 hours after attack with tissue removed from man in its gut; species identified by G.P. Whitley,  reported as C. obscurus by  R. Steel       1
3' small spotted catshark, Scyliorhinus canicula                                                                                                                    1
Shark involvement highly doubtful                                                                                                                                   1
Blue pointer, 16'                                                                                                                                                   1
14' to 18'shark                                                                                                                                                     1
Shark seen feeding on turtle scraps thrown overboard prior to incident.                                                                                             1
Blue pointer, 12'                                                                                                                                                   1
Unknown                                                                                                                                                             1
small catsharks                                                                                                                                                     1
Dooley believed his Injury was caused by stingray (Dasyatidae family)                                                                                               1
Oceanic whitetip shar,; identified by Dr. W.C. Schoeder on photograph & Dr. L.P. L. Schultz on sketch by observer                                                   1
Spurdog                                                                                                                                                             1
C. leucas tooth fragment recovered from kayak                                                                                                                       1
"Shark caught later"                                                                                                                                                1
"sandshark"                                                                                                                                                         1
15'                                                                                                                                                                 1
BluePointers                                                                                                                                                        1
Shark was said to �have a very rough ��-thick skin�                                                                                                                 1
Species unidentified                                                                                                                                                1
Name: species, dtype: int64

In [566]:
cshark

,case_number,date,year,type,country,area,location,activity,sex,age,injury,fatal_(y/n),time,species,href
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,WhiteShark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,None,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,None,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,UnknownShark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,TigerShark,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,None,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,Y,NaN,None,http://sharkattackfile.net/spreadsheets/pdf_di...
6298,ND.0004,None,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,Y,NaN,None,http://sharkattackfile.net/spreadsheets/pdf_di...
6299,ND.0003,None,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,Y,NaN,None,http://sharkattackfile.net/spreadsheets/pdf_di...
6300,ND.0002,None,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,M,NaN,FATAL,Y,NaN,None,http://sharkattackfile.net/spreadsheets/pdf_di...
6301,ND.0001,None,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,None,http://sharkattackfile.net/spreadsheets/pdf_di...

In [567]:
cshark = cshark.drop(['sex', 'age', 'case_number', 'href'], axis=1)

In [568]:
cshark

,date,year,type,country,area,location,activity,injury,fatal_(y/n),time,species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,"No injury to occupant, outrigger canoe and pad...",N,18h00,WhiteShark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Minor injury to left thigh,N,14h00 -15h00,None
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,Injury to left lower leg from surfboard skeg,N,07h45,None
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Minor injury to lower leg,N,NaN,UnknownShark
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,TigerShark
...,...,...,...,...,...,...,...,...,...,...,...
6297,None,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,FATAL,Y,NaN,None
6298,None,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,FATAL,Y,NaN,None
6299,None,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,FATAL,Y,NaN,None
6300,None,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,FATAL,Y,NaN,None
6301,None,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,None

## Limpeza da coluna fatal

A coluna injury e a coluna fatal não apresentam dados coerentes entre elas. Verificar.

In [571]:
shark_dict3 = {' ?[Nn] ?': 'N',
               ' ?[Yy] ?': 'Y',
               ' ?[Mm] ?': 'N',
               ' ?UNKNOWN ?': 'UNKNOWN',
               '\d+': 'UNKNOWN'}

In [572]:
def change_inj(name,shark_dict3,key):
    if isinstance(name,str):
        return re.sub(key, shark_dict3[key], name)
    else:
        return None

In [573]:
for key in shark_dict3.keys():
    cshark['fatal_(y/n)'] = cshark['fatal_(y/n)'].apply(change_inj, shark_dict3=shark_dict3, key=key)

In [574]:
cshark['fatal_(y/n)'].value_counts()

N          4302
Y          1388
UNKNOWN      72
Name: fatal_(y/n), dtype: int64

## Limpeza Locais

In [575]:
cshark['area'].value_counts()

Florida                              1037
New South Wales                       486
Queensland                            311
Hawaii                                298
California                            290
                                     ...
Cavite Province, Luzon                  1
Island of Volos                         1
Makora-Ulawa Province                   1
Phang nga Province                      1
Between New Ireland & New Britain       1
Name: area, Length: 825, dtype: int64

In [576]:
cshark['year'] = cshark['year'].astype(object)

In [577]:
pd.options.display.max_rows=100

In [499]:
cshark.groupby(['fatal_(y/n)', 'species'], as_index=False).count().sort_values(['fatal_(y/n)','year'], ascending = False)

,fatal_(y/n),species,date,year,type,country,area,location,activity,injury,time
69,Y,WhiteShark,136,143,143,143,140,141,139,143,113
67,Y,UnknownShark,114,137,137,135,126,130,128,137,63
65,Y,TigerShark,57,69,69,69,64,64,66,69,41
58,Y,BullShark,34,40,40,40,36,37,35,40,24
61,Y,Invalid,6,9,9,8,8,9,9,9,3
56,Y,BlueShark,7,7,7,6,5,5,5,7,6
70,Y,WhitetipShark,5,5,5,5,5,5,5,5,3
57,Y,BronzewhalerShark,4,4,4,4,4,4,4,4,4
54,Y,Blue pointer,0,2,2,2,0,0,2,2,0
59,Y,HammerheadShark,1,2,2,2,2,1,2,2,0
53,Y,,0,1,1,1,0,0,1,1,1
55,Y,BluePointers,0,1,1,1,0,0,1,1,0
60,Y,Identified as C. gangeticus by Dr. J. Fayrer,1,1,1,1,1,1,1,1,1
62,Y,Possibly C. leucas,1,1,1,1,1,1,1,1,1
63,Y,Remains recovered 5 days later,1,1,1,1,1,1,1,1,0
64,Y,Shark involvement probable,1,1,1,1,1,1,1,1,0
66,Y,Unknown,1,1,1,1,1,1,1,1,1
68,Y,WhalerShark,1,1,1,1,1,1,1,1,1
52,UNKNOWN,WhiteShark,4,8,8,8,8,7,7,5,1
51,UNKNOWN,UnknownShark,2,4,4,4,3,3,4,4,0
50,UNKNOWN,TigerShark,1,2,2,2,2,2,0,1,0
46,UNKNOWN,,1,1,1,1,1,1,1,1,0
47,UNKNOWN,BlueShark,1,1,1,1,1,1,1,1,1
48,UNKNOWN,Invalid,1,1,1,1,1,1,1,1,1
49,UNKNOWN,NurseShark,1,1,1,1,1,1,1,1,0
39,N,UnknownShark,1136,1253,1253,1250,1214,1207,1215,1253,711
41,N,WhiteShark,436,477,477,477,468,466,464,477,338
35,N,TigerShark,188,208,208,208,201,198,204,208,135
14,N,BullShark,124,139,139,139,130,134,132,139,100
24,N,NurseShark,85,95,95,95,90,89,87,95,43
7,N,BlacktipShark,60,64,64,64,60,62,62,64,47
13,N,BronzewhalerShark,53,55,55,55,55,55,54,55,36
21,N,HammerheadShark,37,42,42,42,42,41,39,42,16
23,N,LemonShark,31,35,35,35,33,29,34,35,13
11,N,BlueShark,26,32,32,32,29,28,31,32,10
19,N,GreyreefShark,13,18,18,18,16,15,18,18,10
42,N,WhitetipShark,16,18,18,18,15,17,17,18,7
22,N,Invalid,12,13,13,13,13,13,13,13,6
38,N,Unidentified species,8,8,8,8,8,7,8,8,8
40,N,WhalerShark,4,5,5,5,5,5,4,5,1
0,N,,4,4,4,4,4,4,4,4,3
43,N,WobbegongShark,3,4,4,4,4,4,4,4,2
37,N,Unidentified,3,3,3,3,3,3,3,3,2
12,N,Bronze whaler,2,2,2,2,2,2,2,2,1
45,N,�,2,2,2,2,2,2,2,2,2
1,N,"""Blue whaler"" (Galeolamna)",1,1,1,1,1,1,0,1,1
2,N,"""Shark caught later""",0,1,1,1,1,1,1,1,0
3,N,"""Shark had a very large girth""",1,1,1,1,1,1,1,1,1
4,N,"""The fish was harpooned, dried, and presented ...",0,1,1,1,0,0,1,1,0
5,N,"""sandshark""",1,1,1,1,1,1,1,1,0
6,N,15',1,1,1,1,1,1,1,1,0
8,N,Blue pointer,1,1,1,1,1,1,0,1,0
9,N,"Blue pointer, 12'",1,1,1,1,1,1,1,1,0
10,N,"Blue pointer, 16'",1,1,1,1,1,1,0,1,0
15,N,C. leucas tooth fragment recovered from kayak,1,1,1,1,1,1,1,1,1
16,N,C. macrurus captured 48 hours after attack wit...,1,1,1,1,1,1,0,1,0
17,N,C. maculpinnis or C. limbatus,1,1,1,1,1,1,1,1,1
18,N,Dooley believed his Injury was caused by sting...,1,1,1,1,1,1,1,1,1
20,N,Hammerhead sp.,1,1,1,1,1,1,1,1,1
25,N,"Oceanic whitetip shar,; identified by Dr. W.C....",1,1,1,1,1,0,1,1,1
26,N,"Porbeagle, 1.5 m",1,1,1,1,1,1,1,1,0
27,N,Possibly C. leucas,1,1,1,1,1,1,1,1,0
28,N,Shark involvement prior to death still to be d...,1,1,1,1,0,1,0,1,0
29,N,Shark involvement probable,1,1,1,1,1,1,1,1,0
30,N,Shark seen feeding on turtle scraps thrown ove...,1,1,1,1,1,1,1,1,1
31,N,Shark was said to �have a very rough ��-thick ...,0,1,1,1,1,1,0,1,0
32,N,"Shovelnose guitarfish, adult male",0,1,1,1,1,1,1,1,0
33,N,Species unidentified,1,1,1,1,1,1,1,1,1
34,N,Spurdog,1,1,1,1,1,1,1,1,1
36,N,Tooth fragments recovered from hull,0,1,1,1,1,1,1,1,0
44,N,small catsharks,1,1,1,1,1,1,1,1,0

In [584]:
cshark['month'] = cshark['date'].dt.month

In [585]:
cshark['month'].value_counts()

7.0     611
8.0     546
9.0     519
1.0     491
6.0     470
10.0    417
4.0     415
12.0    413
3.0     378
11.0    377
5.0     357
2.0     354
Name: month, dtype: int64

In [586]:
pd.options.display.max_rows=100
cshark.groupby(['month', 'species', 'area']).count()

                                            date  year  type  country  \
month species        area
1.0                  Pernambuco                1     1     1        1
      BlacktipShark  Florida                   1     1     1        1
                     KwaZulu-Natal             3     3     3        3
                     Queensland                1     1     1        1
      Blue pointer   South Australia           1     1     1        1
...                                          ...   ...   ...      ...
12.0  WhiteShark     Western Australia         3     3     3        3
                     Western Cape Province    10    10    10       10
      WhitetipShark  South Sinai Peninsula     1     1     1        1
      WobbegongShark New South Wales           6     6     6        6
                     Queensland                1     1     1        1

                                            location  activity  injury  \
month species        area
1.0                  Pernambuco                    1         1       1
      BlacktipShark  Florida                       1         1       1
                     KwaZulu-Natal                 3         3       3
                     Queensland                    1         1       1
      Blue pointer   South Australia               1         0       1
...                                              ...       ...     ...
12.0  WhiteShark     Western Australia             3         3       3
                     Western Cape Province        10        10      10
      WhitetipShark  South Sinai Peninsula         1         1       1
      WobbegongShark New South Wales               6         6       6
                     Queensland                    1         1       1

                                            fatal_(y/n)  time
month species        area
1.0                  Pernambuco                       1     0
      BlacktipShark  Florida                          1     1
                     KwaZulu-Natal                    3     2
                     Queensland                       1     1
      Blue pointer   South Australia                  1     0
...                                                 ...   ...
12.0  WhiteShark     Western Australia                3     3
                     Western Cape Province           10    10
      WhitetipShark  South Sinai Peninsula            1     1
      WobbegongShark New South Wales                  6     2
                     Queensland                       1     0

[1332 rows x 9 columns]

In [588]:
cshark2=cshark.copy(deep=True)

In [596]:
cshark2

,date,year,type,country,area,location,activity,injury,fatal_(y/n),time,species,month
0,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,"No injury to occupant, outrigger canoe and pad...",N,18h00,WhiteShark,6.0
1,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Minor injury to left thigh,N,14h00 -15h00,None,6.0
2,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,Injury to left lower leg from surfboard skeg,N,07h45,None,6.0
3,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Minor injury to lower leg,N,NaN,UnknownShark,6.0
4,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,TigerShark,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,NaT,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,FATAL,Y,NaN,None,NaN
6298,NaT,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,FATAL,Y,NaN,None,NaN
6299,NaT,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,FATAL,Y,NaN,None,NaN
6300,NaT,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8�N, 79�W",NaN,FATAL,Y,NaN,None,NaN
6301,NaT,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,None,NaN

In [598]:
mask = ((cshark2['species']=="WhiteShark") | (cshark2['species']=="Invalid") | (cshark2['species']=="BullShark") | (cshark2['species']=="UnknownShark") | (cshark2['species']=="TigerShark"))

In [600]:
cshark2=cshark2[mask]

In [601]:
cshark2

,date,year,type,country,area,location,activity,injury,fatal_(y/n),time,species,month
0,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,"No injury to occupant, outrigger canoe and pad...",N,18h00,WhiteShark,6.0
3,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Minor injury to lower leg,N,NaN,UnknownShark,6.0
4,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,TigerShark,6.0
6,2018-06-03,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,FATAL,Y,Late afternoon,TigerShark,6.0
8,2018-05-26,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Lower left leg bitten,N,17h00,BullShark,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6266,NaT,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,"FATAL, died of sepsis",Y,NaN,UnknownShark,NaN
6267,NaT,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,Buttocks bitten,N,NaN,UnknownShark,NaN
6274,NaT,0.0,Boat,ITALY,Adriatic Sea,NaN,Wooden fishing boat,No injury to occupant; shark capsized boat,N,NaN,WhiteShark,NaN
6276,NaT,0.0,Unprovoked,BELIZE,NaN,NaN,Standing,FATAL,Y,NaN,TigerShark,NaN
6296,NaT,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,FATAL,Y,NaN,Invalid,NaN

In [603]:
cshark2.groupby(['fatal_(y/n)', 'species'], as_index=False).count().sort_values(['fatal_(y/n)','year'], ascending = False)

,fatal_(y/n),species,date,year,type,country,area,location,activity,injury,time,month
13,Y,WhiteShark,136,143,143,143,140,141,139,143,113,136
12,Y,UnknownShark,114,137,137,135,126,130,128,137,63,114
11,Y,TigerShark,57,69,69,69,64,64,66,69,41,57
9,Y,BullShark,34,40,40,40,36,37,35,40,24,34
10,Y,Invalid,6,9,9,8,8,9,9,9,3,6
8,UNKNOWN,WhiteShark,3,7,7,7,7,6,6,5,0,3
7,UNKNOWN,UnknownShark,2,3,3,3,3,3,3,3,0,2
5,UNKNOWN,Invalid,2,2,2,2,2,2,2,1,2,2
6,UNKNOWN,TigerShark,1,2,2,2,2,2,0,1,0,1
3,N,UnknownShark,1092,1204,1204,1202,1168,1161,1166,1204,690,1092
4,N,WhiteShark,436,477,477,477,468,466,464,477,338,436
2,N,TigerShark,188,208,208,208,201,198,204,208,135,188
0,N,BullShark,124,139,139,139,130,134,132,139,100,124
1,N,Invalid,12,13,13,13,13,13,13,13,6,12

# Criando mascaras separadas

In [642]:
mask_white = cshark2['species']=="WhiteShark"
mask_inv = cshark2['species']=="Invalid"
mask_unk = cshark2['species']=="UnknownShark"
mask_bull = cshark2['species']=="BullShark"

In [643]:
white_shark=cshark2[mask_white]
invalid_att=cshark2[mask_inv]
unknown_shark=cshark2[mask_unk]
bull_shark=cshark2[mask_bull]

In [644]:
unknown_shark

,date,year,type,country,area,location,activity,injury,fatal_(y/n),time,species,month
3,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Minor injury to lower leg,N,NaN,UnknownShark,6.0
21,2018-04-25,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,"No injury, knocked off board by shark",N,09h30,UnknownShark,4.0
25,2018-04-19,2018.0,Unprovoked,USA,Hawaii,"Shipwreck�s Beach, Keoneloa Bay, Kauai",Body boarding,Lacerations to right lower leg,N,NaN,UnknownShark,4.0
32,2018-04-09,2018.0,Unprovoked,NEW CALEDONIA,NaN,"Magenta Beach, Noumea",Windsurfing,"No injury, shark bit board",N,17h00,UnknownShark,4.0
37,NaT,2018.0,Unprovoked,AUSTRALIA,Victoria,Lorne,Swimming,"No injury, said to have been charged by sharks...",N,15h30,UnknownShark,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6238,NaT,0.0,Unprovoked,FIJI,NaN,NaN,Spearfishing,"No injury, bumped by shark which took speared ...",N,NaN,UnknownShark,NaN
6239,NaT,0.0,Unprovoked,MOZAMBIQUE,Maputo Province,Santa Maria Peninsula,Skindiving,Bumped by sharks,N,NaN,UnknownShark,NaN
6259,NaT,0.0,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,"FATAL, shark leapt into raft and bit the man w...",Y,Late afternoon,UnknownShark,NaN
6266,NaT,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,"FATAL, died of sepsis",Y,NaN,UnknownShark,NaN
6267,NaT,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,Buttocks bitten,N,NaN,UnknownShark,NaN

# White Shark

In [628]:
white_shark['fatal_(y/n)'].value_counts()

N          477
Y          143
UNKNOWN      7
Name: fatal_(y/n), dtype: int64

In [660]:
white_shark['area'].value_counts()

California                               156
Western Cape Province                    102
South Australia                           41
Western Australia                         41
New South Wales                           38
Eastern Cape Province                     36
KwaZulu-Natal                             23
Oregon                                    22
Victoria                                  12
Tyrrhenian Sea                            10
Tasmania                                   9
Adriatic Sea                               8
Queensland                                 7
South Island                               6
North Carolina                             5
North Island                               5
Florida                                    4
Sicily                                     4
Massachusetts                              4
Ehime Prefecture                           3
New Jersey                                 3
Corfu Island                               3
Hawaii                                     3
South Carolina                             3
Washington                                 2
Ligurian Sea                               2
Tuscany                                    2
Primorje-Gorski Kotar County               2
Rio de Janeiro                             2
La Libertad                                2
Zadar County                               2
Sardinia                                   2
Miyako                                     2
Baja California                            2
C�diz                                      1
Madeira Islands                            1
South Ch'ungch'ong Province                1
 Primorje-Gorski Kotar County              1
Red Sea                                    1
Chatham Islands                            1
Nice & Marseilles                          1
10�S, 142�E                                1
Buenos Aires Province                      1
Lomaiviti  Island Group                    1
Chungnam                                   1
Harare Province                            1
Balearics                                  1
Antarctic Ocean                            1
Kuril Islands in the Pacific               1
Victoria                                   1
St. Thomas Bay                             1
Miyako Island                              1
Thessaly                                   1
Valpariso Province                         1
Grand'Anse                                 1
 Split-Dalmatia County                     1
Gaza                                       1
Nova Scotia                                1
Gulf of Panama                             1
Westerm Australia                          1
 Split-Dalmatia Count,                     1
Chatham Islands, east of New  Zealand      1
Abaco Islands                              1
West Africa                                1
Tyrrenian Sea                              1
Istria County                              1
Congreve Channel                           1
Ahirkapi coast                             1
Bird Island                                1
Andros Islands                             1
Antibes                                    1
Bay of Fundy                               1
Pernambuco                                 1
Caribbean Sea                              1
South Chungcheong Province                 1
Western Province                           1
Los Vilos                                  1
Newfoundland                               1
Coquimbo                                   1
Southland                                  1
Baatan                                     1
Aichi Prefecture                           1
Golfo di Genova in the Ligurian Sea        1
Cook Strait                                1
C�te d'Azur                                1
Name: area, dtype: int64

In [661]:
maskw = ((white_shark['area']=="California") | (cshark2['area']=="Western Cape Province") | (cshark2['area']=="South Australia ") | (cshark2['area']=="Western Australia") | (cshark2['area']=="New South Wales"))

In [663]:
white_shark2=white_shark[maskw]

<ipython-input-663-927814ba8beb>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  white_shark2=white_shark[maskw]

In [667]:
white_shark2.groupby(['area', 'month'], as_index=False).count().sort_values(['year'], ascending = False)

,area,month,date,year,type,country,location,activity,injury,fatal_(y/n),time,species
7,California,8.0,27,27,27,27,27,27,27,27,25,27
8,California,9.0,25,25,25,25,25,25,25,25,22,25
6,California,7.0,21,21,21,21,21,21,21,21,14,21
9,California,10.0,21,21,21,21,21,21,21,21,20,21
10,California,11.0,14,14,14,14,14,13,14,14,9,14
40,Western Cape Province,6.0,11,11,11,11,11,11,11,11,9,11
43,Western Cape Province,9.0,11,11,11,11,11,11,11,11,9,11
46,Western Cape Province,12.0,10,10,10,10,10,10,10,10,10,10
5,California,6.0,10,10,10,10,10,9,10,10,8,10
44,Western Cape Province,10.0,9,9,9,9,9,9,9,9,5,9
42,Western Cape Province,8.0,9,9,9,9,9,9,9,9,8,9
13,New South Wales,2.0,9,9,9,9,9,9,9,9,9,9
11,California,12.0,9,9,9,9,9,9,9,9,9,9
4,California,5.0,9,9,9,9,9,9,9,9,9,9
35,Western Cape Province,1.0,8,8,8,8,8,7,8,8,6,8
38,Western Cape Province,4.0,7,7,7,7,7,7,7,7,6,7
36,Western Cape Province,2.0,7,7,7,7,7,7,7,7,4,7
33,Western Australia,11.0,7,7,7,7,7,7,7,7,6,7
32,Western Australia,10.0,6,6,6,6,6,6,6,6,5,6
3,California,4.0,6,6,6,6,6,5,6,6,5,6
39,Western Cape Province,5.0,6,6,6,6,6,6,6,6,4,6
22,New South Wales,12.0,6,6,6,6,6,6,6,6,6,6
45,Western Cape Province,11.0,5,5,5,5,5,5,5,5,4,5
0,California,1.0,5,5,5,5,5,5,5,5,4,5
12,New South Wales,1.0,5,5,5,5,5,5,5,5,4,5
23,Western Australia,1.0,4,4,4,4,4,4,4,4,4,4
41,Western Cape Province,7.0,4,4,4,4,4,4,4,4,4,4
2,California,3.0,4,4,4,4,4,4,4,4,4,4
14,New South Wales,3.0,4,4,4,4,4,4,4,4,3,4
29,Western Australia,7.0,4,4,4,4,4,4,4,4,1,4
37,Western Cape Province,3.0,4,4,4,4,4,1,4,4,1,4
30,Western Australia,8.0,3,3,3,3,3,3,3,3,2,3
31,Western Australia,9.0,3,3,3,3,3,3,3,3,3,3
1,California,2.0,3,3,3,3,3,3,3,3,3,3
34,Western Australia,12.0,3,3,3,3,3,3,3,3,3,3
25,Western Australia,3.0,3,3,3,3,3,3,3,3,3,3
19,New South Wales,9.0,3,3,3,3,3,3,3,3,3,3
18,New South Wales,7.0,3,3,3,3,3,3,3,3,3,3
17,New South Wales,6.0,3,3,3,3,3,3,3,3,3,3
15,New South Wales,4.0,2,2,2,2,2,2,2,2,2,2
24,Western Australia,2.0,2,2,2,2,2,2,2,2,1,2
28,Western Australia,6.0,2,2,2,2,2,2,2,2,2,2
27,Western Australia,5.0,2,2,2,2,2,2,2,2,2,2
26,Western Australia,4.0,2,2,2,2,2,2,2,2,2,2
16,New South Wales,5.0,1,1,1,1,1,1,1,1,1,1
21,New South Wales,11.0,1,1,1,1,1,1,1,1,0,1
20,New South Wales,10.0,1,1,1,1,1,1,1,1,1,1

# Bull Shark

In [631]:
bull_shark['fatal_(y/n)'].value_counts()

N    139
Y     40
Name: fatal_(y/n), dtype: int64

In [632]:
bull_shark['area'].value_counts()

Florida                         46
Queensland                      14
New South Wales                 13
Abaco Islands                    8
North Carolina                   8
Karun River                      7
Texas                            6
Pernambuco                       5
South Carolina                   4
Basrah                           4
Alabama                          3
Bali                             3
North Province                   3
Western Australia                3
Guantanamo Province              2
Lake Nicaragua (fresh water)     2
Louisiana                        2
Grand Bahama Island              2
Eastern Cape Province            2
Anzoategui                       2
Northern Bahamas                 1
Vava'u                           1
Sainte-Marie                     1
Basrah City                      1
Saint-Paul                       1
Saint Leu                        1
US Virgin Islands                1
Camaguey Province                1
Praslin                          1
L' Etang Sal�-les-Bains          1
Virginia                         1
Khuzestan Province               1
Guanacaste                       1
d��tang-Sal�                     1
Curacao                          1
Hua Hin                          1
North Pacific coast              1
Lower San Juan River             1
KwaZulu-Natal                    1
Saint-Joseph                     1
South Province                   1
Saint-Leu                        1
Le Port                          1
Quintana Roo                     1
Saint-Gilles-les-Bains           1
Saint-Gilles                     1
Saint-Denis                      1
Guerrero                         1
Name: area, dtype: int64

In [666]:
bull_shark.groupby(['area', 'month'], as_index=False).count().sort_values(['year'], ascending = False)

,area,month,date,year,type,country,location,activity,injury,fatal_(y/n),time,species
15,Florida,4.0,9,9,9,9,9,8,9,9,5,9
17,Florida,6.0,8,8,8,8,8,8,8,8,7,8
19,Florida,8.0,8,8,8,8,8,8,8,8,7,8
20,Florida,9.0,5,5,5,5,5,5,5,5,4,5
61,Queensland,12.0,4,4,4,4,4,4,4,4,3,4
41,North Carolina,6.0,4,4,4,4,4,4,4,4,4,4
34,New South Wales,1.0,4,4,4,4,4,3,4,4,3,4
56,Queensland,1.0,4,3,4,4,3,4,4,3,3,4
14,Florida,3.0,3,3,3,3,3,3,3,3,3,3
40,New South Wales,12.0,3,3,3,3,3,3,3,3,2,3
2,Abaco Islands,7.0,3,3,3,3,3,3,3,3,2,3
18,Florida,7.0,3,3,3,3,3,3,3,3,3,3
16,Florida,5.0,3,3,3,3,3,3,3,3,2,3
21,Florida,10.0,3,3,3,3,3,3,3,3,2,3
57,Queensland,2.0,3,3,3,3,3,3,3,3,2,3
6,Anzoategui,1.0,2,2,2,2,2,2,2,2,2,2
35,New South Wales,2.0,2,2,2,2,2,2,2,2,2,2
32,Louisiana,8.0,2,2,2,2,2,2,2,2,2,2
4,Alabama,6.0,2,2,2,2,2,2,2,2,2,2
3,Abaco Islands,8.0,2,2,2,2,2,2,2,2,2,2
8,Bali,4.0,2,2,2,2,2,2,2,2,2,2
78,Texas,7.0,2,2,2,2,2,2,2,2,1,2
77,Texas,6.0,2,2,2,2,2,2,2,2,0,2
42,North Carolina,7.0,2,2,2,2,2,2,2,2,2,2
67,Saint-Joseph,4.0,1,1,1,1,1,0,1,1,0,1
66,Saint-Gilles-les-Bains,4.0,1,1,1,1,1,1,1,1,1,1
65,Saint-Gilles,5.0,1,1,1,1,1,1,1,1,1,1
64,Saint-Denis,7.0,1,1,1,1,1,1,1,1,1,1
62,Quintana Roo,3.0,1,1,1,1,1,1,1,1,0,1
58,Queensland,3.0,1,1,1,1,1,1,1,1,1,1
63,Saint Leu,8.0,1,1,1,1,0,1,1,1,1,1
55,Praslin,8.0,1,1,1,1,1,1,1,1,1,1
59,Queensland,5.0,1,1,1,1,1,1,1,1,0,1
60,Queensland,11.0,1,1,1,1,1,1,1,1,1,1
0,Abaco Islands,4.0,1,1,1,1,1,1,1,1,1,1
74,South Carolina,10.0,1,1,1,1,1,1,1,1,0,1
68,Saint-Leu,1.0,1,1,1,1,1,1,1,1,0,1
79,Texas,8.0,1,1,1,1,1,1,1,1,1,1
85,Western Australia,10.0,1,1,1,1,0,1,1,1,0,1
84,Western Australia,2.0,1,1,1,1,1,1,1,1,1,1
83,Western Australia,1.0,1,1,1,1,1,0,1,1,1,1
82,Virginia,9.0,1,1,1,1,1,1,1,1,1,1
81,Vava'u,9.0,1,1,1,1,1,1,1,1,0,1
80,US Virgin Islands,8.0,1,1,1,1,1,1,1,1,1,1
76,Texas,1.0,1,1,1,1,1,1,1,1,1,1
69,Saint-Paul,6.0,1,1,1,1,1,1,1,1,1,1
75,South Province,5.0,1,1,1,1,1,1,1,1,0,1
53,Pernambuco,6.0,1,1,1,1,1,1,1,1,1,1
73,South Carolina,8.0,1,1,1,1,1,1,1,1,1,1
72,South Carolina,7.0,1,1,1,1,1,1,1,1,1,1
71,South Carolina,6.0,1,1,1,1,1,1,1,1,0,1
70,Sainte-Marie,3.0,1,1,1,1,1,1,1,1,1,1
54,Pernambuco,10.0,1,1,1,1,1,1,1,1,1,1
43,North Carolina,8.0,1,1,1,1,1,1,1,1,1,1
52,Pernambuco,5.0,1,1,1,1,1,1,1,1,1,1
29,KwaZulu-Natal,6.0,1,1,1,1,1,1,1,1,1,1
5,Alabama,9.0,1,1,1,1,1,1,1,1,1,1
7,Bali,1.0,1,1,1,1,1,1,1,1,1,1
9,Basrah City,5.0,1,1,1,1,1,1,1,1,1,1
10,Camaguey Province,10.0,1,1,1,1,1,1,1,1,1,1
11,Curacao,3.0,1,1,1,1,0,1,1,1,0,1
12,Eastern Cape Province,1.0,1,1,1,1,1,1,1,1,1,1
13,Eastern Cape Province,11.0,1,1,1,1,1,1,1,1,1,1
22,Florida,11.0,1,1,1,1,1,1,1,1,1,1
23,Grand Bahama Island,8.0,1,1,1,1,1,1,1,1,1,1
24,Grand Bahama Island,9.0,1,1,1,1,1,1,1,1,1,1
25,Guanacaste,5.0,1,1,1,1,1,1,1,1,0,1
26,Guantanamo Province,1.0,1,1,1,1,1,1,1,1,1,1
27,Guerrero,5.0,1,1,1,1,1,1,1,1,1,1
28,Hua Hin,4.0,1,1,1,1,1,1,1,1,0,1
30,L' Etang Sal�-les-Bains,4.0,1,1,1,1,1,1,1,1,1,1
51,Pernambuco,4.0,1,1,1,1,1,1,1,1,1,1
31,Le Port,6.0,1,1,1,1,1,1,1,1,1,1
33,Lower San Juan River,6.0,1,1,1,1,0,1,1,1,0,1
36,New South Wales,3.0,1,1,1,1,1,1,1,1,1,1
37,New South Wales,4.0,1,1,1,1,1,1,1,1,1,1
38,New South Wales,10.0,1,1,1,1,1,1,1,1,1,1
39,New South Wales,11.0,1,1,1,1,1,1,1,1,1,1
1,Abaco Islands,6.0,1,1,1,1,0,1,1,1,1,1
44,North Carolina,9.0,1,1,1,1,1,1,1,1,1,1
45,North Pacific coast,1.0,1,1,1,1,1,1,1,1,0,1
46,North Province,4.0,1,1,1,1,1,1,1,1,1,1
47,North Province,5.0,1,1,1,1,1,1,1,1,1,1
48,North Province,12.0,1,1,1,1,1,1,1,1,1,1
49,Northern Bahamas,2.0,1,1,1,1,1,1,1,1,1,1
50,Pernambuco,3.0,1,1,1,1,1,1,1,1,1,1
86,d��tang-Sal�,10.0,1,1,1,1,1,1,1,1,1,1

# Unknown Shark

In [645]:
unknown_shark['fatal_(y/n)'].value_counts()

N          1204
Y           137
UNKNOWN       3
Name: fatal_(y/n), dtype: int64

In [646]:
unknown_shark['area'].value_counts()

Florida                309
New South Wales         94
Queensland              71
Hawaii                  64
KwaZulu-Natal           63
                      ...
Saint-Beno�t             1
Trinidad                 1
Westmoreland Parish      1
Worcestershire           1
Inner Hebrides           1
Name: area, Length: 247, dtype: int64

In [647]:
unknown_shark.groupby(['area', 'month']).count().sort_values(['year'], ascending = False)

                                                          date  year  type  \
area                                               month
Florida                                            9.0      52    52    52
                                                   8.0      37    37    37
                                                   5.0      32    32    32
                                                   10.0     31    31    31
                                                   4.0      30    30    30
...                                                        ...   ...   ...
Kwajalein Atoll                                    1.0       1     1     1
KwaZulu-Natal between Port Edward and Port St J... 6.0       1     1     1
KwaZulu-Natal                                      6.0       1     1     1
Kingston Parish                                    9.0       1     1     1
Zadar County                                       7.0       1     1     1

                                                          country  location  \
area                                               month
Florida                                            9.0         52        52
                                                   8.0         37        37
                                                   5.0         32        32
                                                   10.0        31        31
                                                   4.0         30        30
...                                                           ...       ...
Kwajalein Atoll                                    1.0          1         1
KwaZulu-Natal between Port Edward and Port St J... 6.0          1         1
KwaZulu-Natal                                      6.0          1         1
Kingston Parish                                    9.0          1         1
Zadar County                                       7.0          1         1

                                                          activity  injury  \
area                                               month
Florida                                            9.0          52      52
                                                   8.0          37      37
                                                   5.0          31      32
                                                   10.0         31      31
                                                   4.0          29      30
...                                                            ...     ...
Kwajalein Atoll                                    1.0           1       1
KwaZulu-Natal between Port Edward and Port St J... 6.0           1       1
KwaZulu-Natal                                      6.0           1       1
Kingston Parish                                    9.0           1       1
Zadar County                                       7.0           1       1

                                                          fatal_(y/n)  time  \
area                                               month
Florida                                            9.0             52    43
                                                   8.0             37    30
                                                   5.0             32    27
                                                   10.0            31    25
                                                   4.0             30    26
...                                                               ...   ...
Kwajalein Atoll                                    1.0              1     1
KwaZulu-Natal between Port Edward and Port St J... 6.0              1     1
KwaZulu-Natal                                      6.0              1     1
Kingston Parish                                    9.0              1     0
Zadar County                                       7.0              1     0

                                                          species
area                                               month
Florida                                            9.0         52
                                                   8.0         37
                                                   5.0         32
                                                   10.0        31
                                                   4.0         30
...                                                           ...
Kwajalein Atoll                                    1.0          1
KwaZulu-Natal between Port Edward and Port St J... 6.0          1
KwaZulu-Natal                                      6.0          1
Kingston Parish                                    9.0          1
Zadar County                                       7.0          1

[406 rows x 10 columns]

# Invalid Attacks

In [649]:
invalid_att['fatal_(y/n)'].value_counts()

N          13
Y           9
UNKNOWN     2
Name: fatal_(y/n), dtype: int64

In [655]:
invalid_att['injury'].value_counts()

No injury                                       19
FATAL                                           19
Probable drowning & scavenging                   7
Shark involvement prior to death unconfirmed     5
No details                                       5
                                                ..
Sharks fed on bodies of the drowned              1
Abdomen abraded                                  1
Thigh lacerated                                  1
Possible drowning / scavenging                   1
Human remains found in 4m, 900 kg shark          1
Name: injury, Length: 410, dtype: int64

In [651]:
invalid_att.groupby(['area', 'month']).count().sort_values(['year'], ascending = False)

                          date  year  type  country  location  activity  \
area               month
New South Wales    1.0      12    12    12       12        12        11
Florida            8.0      11    11    11       11        11         9
KwaZulu-Natal      1.0       9     9     9        9         9         4
Florida            9.0       8     8     8        8         8         6
                   10.0      8     8     8        8         8         6
...                        ...   ...   ...      ...       ...       ...
Ibaraki Prefecture 1.0       1     1     1        1         1         0
Isle of Wight      8.0       1     1     1        1         1         1
Kingston Parish    6.0       1     1     1        1         1         0
KwaZulu-Natal      2.0       1     1     1        1         1         1
Yucatan Channel    6.0       1     1     1        1         0         1

                          injury  fatal_(y/n)  time  species
area               month
New South Wales    1.0        12            0     6       12
Florida            8.0        11            1     6       11
KwaZulu-Natal      1.0         9            0     2        9
Florida            9.0         7            1     4        8
                   10.0        8            1     5        8
...                          ...          ...   ...      ...
Ibaraki Prefecture 1.0         1            0     0        1
Isle of Wight      8.0         1            0     0        1
Kingston Parish    6.0         1            0     0        1
KwaZulu-Natal      2.0         1            0     0        1
Yucatan Channel    6.0         1            0     0        1

[223 rows x 10 columns]

In [652]:
cshark['species'].value_counts()

UnknownShark                                                                                                                                                     1359
WhiteShark                                                                                                                                                        632
Invalid                                                                                                                                                           506
TigerShark                                                                                                                                                        281
BullShark                                                                                                                                                         180
NurseShark                                                                                                                                                         96
BlacktipShark                                                                                                                                                      64
BronzewhalerShark                                                                                                                                                  60
WobbegongShark                                                                                                                                                     50
HammerheadShark                                                                                                                                                    44
BlueShark                                                                                                                                                          40
LemonShark                                                                                                                                                         35
WhitetipShark                                                                                                                                                      23
GreyreefShark                                                                                                                                                      18
Unidentified species                                                                                                                                                8
                                                                                                                                                                    6
WhalerShark                                                                                                                                                         6
Unidentified                                                                                                                                                        3
Blue pointer                                                                                                                                                        3
Shark involvement not cofirmed                                                                                                                                      2
Shark involvement doubtful                                                                                                                                          2
Bronze whaler                                                                                                                                                       2
�                                                                                                                                                                   2
Shark involvement probable                                                                                                                                          2
Possibly C. leucas                                                                                                                                                  2
Tooth fragments recovered from hull                                                                                                                                 1
Remains recovered 5 days later                                                                                                                                      1
Hammerhead sp.                                                                                                                                                      1
Shark involvement prior to death unconfired                                                                                                                         1
Blue pointer, 11'                                                                                                                                                   1
Not authenticated                                                                                                                                                   1
Identified as C. gangeticus by Dr. J. Fayrer                                                                                                                        1
Considered a "Doubtful" incident                                                                                                                                    1
Death may have been due to drowning                                                                                                                                 1
Porbeagle, 1.5 m                                                                                                                                                    1
"Blue whaler" (Galeolamna)                                                                                                                                          1
Shovelnose guitarfish, adult male                                                                                                                                   1
Shark involvement prior to death still to be determined                                                                                                             1
"Shark had a very large girth"                                                                                                                                      1
C. maculpinnis or C. limbatus                                                                                                                                       1
[4' to 5']                                                                                                                                                          1
Shark involvement prior to death could not be determined                                                                                                            1
"The fish was harpooned, dried, and presented to the sailor, who went round Europe exhibiting it  It was said to be 20 feet long.                                   1
C. macrurus captured 48 hours after attack with tissue removed from man in its gut; species identified by G.P. Whitley,  reported as C. obscurus by  R. Steel       1
3' small spotted catshark, Scyliorhinus canicula                                                                                                                    1
Shark involvement highly doubtful                                                                                                                                   1
Blue pointer, 16'                                                                                                                                                   1
14' to 18'shark                                                                                                                                                     1
Shark seen feeding on turtle scraps thrown overboard prior to incident.                                                                                             1
Blue pointer, 12'                                                                                                                                                   1
Unknown                                                                                                                                                             1
small catsharks                                                                                                                                                     1
Dooley believed his Injury was caused by stingray (Dasyatidae family)                                                                                               1
Oceanic whitetip shar,; identified by Dr. W.C. Schoeder on photograph & Dr. L.P. L. Schultz on sketch by observer                                                   1
Spurdog                                                                                                                                                             1
C. leucas tooth fragment recovered from kayak                                                                                                                       1
"Shark caught later"                                                                                                                                                1
"sandshark"                                                                                                                                                         1
15'                                                                                                                                                                 1
BluePointers                                                                                                                                                        1
Shark was said to �have a very rough ��-thick skin�                                                                                                                 1
Species unidentified                                                                                                                                                1
Name: species, dtype: int64